BODY {
FONT-FAMILY: Palatino Linotype, SANS-SERIF;
MARGIN: 0;
PADDING: 0;
BACKGROUND-IMAGE:
URL("FONDO.PNG");
BACKGROUND-SIZE:COVER;
BACKGROUND-ATTACHEMENT:SCROLL;
BACKGROUND-POSITION:upright;
}

.TITLE{
text-alise:center;
}
.SECTION{
text-alise:center;
}
HEADER {
BACKGROUND-COLOR:#FFF;
COLOR:#000;
PADDING: 1EM;
TEXT-ALIGN: CENTER;
}
NAV LI {
LIST-STYLE: NONE;
MARGIN: 0;
PADDING: 0;
DISPLAY: FLEX;
JUSTIFY-CONTENT: SPACE-BETWEEN;
}
NAV A {
COLOR:#0000FF;
TEXT-DECORATION: NONE;
}
MAIN {
DISPLAY: FLEX;
FLEX-DIRECTION: COLUMN;
ALIGN-ITEMS: CENTER;
PADDING: 2EM;
}
.GALERIA {
DISPLAY: FLEX;
FLEX-WRAP: WRAP;
JUSTIFY-CONTENT: center;

}
.GALERIA UL {
LIST-STYLE: NONE;
MARGIN: 0;
PADDING: 0;
}
.GALERIA LI {
MARGIN: 1OPX;
WIDTH: 200PX;
}
.GALERIA IMG{
WIDTH: 100%;
HEIGHT:150PX;
OBJECT-FIT: COVER;
TRANSITION: TRANSFORM 0.2S EASE-IN-OUT;
}
.GALERIA IMG:HOVER{
TRANSFORM: SCALE(1.2);
}
.galeria{
clip-path:inset(10px 20px 30px 40px);
}
.PEPE {
DISPLAY: FLEX;
FLEX-WRAP: WRAP;
JUSTIFY-CONTENT: CENTER;
}
.PEPE UL {
LIST-STYLE: NONE;
MARGIN: 0;
PADDING: 0;
}
.PEPE LI {
MARGIN: 1OPX;
WIDTH: 200PX;
}
.PEPE IMG{
WIDTH: 100%;
HEIGHT:150PX;
OBJECT-FIT: COVER;
TRANSITION: TRANSFORM 0.2S EASE-IN-OUT;
}
.PEPE IMG:HOVER{
TRANSFORM: SCALE(1.2);
}
.pepe{
clip-path:inset(10px 20px 30px 40px);
}
.facu {
DISPLAY: FLEX;
FLEX-WRAP: WRAP;
JUSTIFY-CONTENT: CENTER;
}
.facu UL {
LIST-STYLE: NONE;
MARGIN: 0;
PADDING: 0;
}
.facu LI {
MARGIN: 1OPX;
WIDTH: 200PX;
}
.facu IMG{
WIDTH: 100%;
HEIGHT:150PX;
OBJECT-FIT: COVER;
TRANSITION: TRANSFORM 0.2S EASE-IN-OUT;
}
.facu IMG:HOVER{
TRANSFORM: SCALE(1.2);
}
.facu{
clip-path:inset(10px 20px 30px 40px);
}





